{% extends 'inv/base.html' %}

{% block body %}
{% load static %}
<div class="container">
  <form method="POST">
    {% csrf_token %}

    <h4>Prediction</h4>

    <form action="predict" method="post">
      <label for="type">Type </label>
      <input id="type" type="text" name="type" value="{{ current_name }}">
      <input id="date" type="date" name="date" value="{{ current_date }}">
      <button type="submit" class="btn btn-primary">Predict</button>
    </form>
  </form>
</div>


        <canvas id="myChart" width="1000" height="400"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: {{ date|safe }},
              datasets: [{
                label: 'Predicted Values',
                data: {{ list|safe }},
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
              }]
            },
            options: {
              responsive: false,
              scales: {
                xAxes: [{
                  ticks: {
                    maxRotation: 90,
                    minRotation: 30
                  }
                }],
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
        </script>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Predicted Stock</th>
            </tr>
          </thead>
        
          <tbody>
          {% for y,x in zipped_list %}
          <tr>
              <td>{{ x }}</td>
              <td>{{ y }} </td>
          </tr>
          {% endfor %}
            </tbody>
          </table>

{% endblock %}